@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@400;700&display=swap');

*{
  font-family: Red Rose;
  list-style: none;
}


body {
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav-button{
  background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
border-radius: 10px;
color: #F8F9FA;
}

.header h1 {
  font-family: 'Red Rose';
font-style: normal;
font-weight: 400;
font-size: 56px;
line-height: 140%;
/* or 78px */

letter-spacing: -0.02em;

/* text black */

color: #434343;
}

.space {
  height: 100px;
}

.space2 {
  height: 48px;
}

.space3 {
  height: 70px;
}

.header span {
  color: rgba(160, 34, 121, 1);
}

.header p {
  font-family: "Red Rose";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  color: #434343;
  /* Inside auto ayout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.header input {
  box-sizing: border-box;
  height: 54px;
  width: 390px;
  background: rgba(247, 247, 247, 0.1);
  border: 1px solid #a3a3a3;
  border-radius: 8px 0px 0px 8px;
}

.header button {
  background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.46%);
  border-radius: 0px 8px 8px 0px;
  color: white;
  height: 54px;
  width: 230px;
}

.token {
  padding: 10px 100px;
  background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.45%);
}

.customCard {
  box-sizing: border-box;
  background: linear-gradient(124.4deg, #ffffff 10.8%, #ffffff 87.34%);
  /* FADE */
  border: 1px solid #d7d7d7;
  border-radius: 15px;
  max-width: 292px;
}

.customCard p{
  font-family: 'Red Rose';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 13px;
color: #434343;
}
.customCard h5{
  font-family: 'Red Rose';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 13px;
/* identical to box height, or 110% */

color: #434343;
}

.discover{
  box-sizing: border-box;
/* height: 774px; */
background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
border: 1px solid #000000;
}

.discover p{
  font-family: 'Red Rose';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 35px;
/* or 194% */


/* White lin */

background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;


}

.space4{
  height: 200px;
}

.footer{
  background: #1D1D1E;
  color: #F1F3F9;

}

.footer p{
  font-family: 'Red Rose';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 35px;
  /* or 250% */
  
  color: #F1F3F9;
  
}


 .overlay{
  position:fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(64, 64, 64, 0.3);
  height: 1000px;
} 

.wallet{
 
position: fixed;
/* width: 600px; */

height: 326px;
/* left: 420px; */
top: 147px;
left: 27%;
background: #FFFFFF;
border-radius: 16px;
}

.line{
height: 0px;
border: 1px solid #CFD8DC;
}

.close{
  font-size: 28px;
  color: #000000;
  text-decoration: none;
}

.token-button{
  box-sizing: border-box;
align-items: center;
padding: 12px 20px;
height: 68px;


border: 1px solid #CFD8DC;
border-radius: 12px;
}

.token-button2{
  box-sizing: border-box;
  align-items: center;
  padding: 12px 20px;
  height: 68px;
border: 1px solid #CFD8DC;
border-radius: 12px;
}

.token-button:hover {
  background: #F8F9FA;
} .token-button2:hover {
background: #F8F9FA;

}

.token-button p{
  font-size: 20px;
}



/* Frame 13 */
.location{
  box-sizing: border-box;
  height: 45px;

background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
border: 1px solid #B4B4B4;
border-radius: 8px;
}


.location p{
  font-size: 16pxs;
}


@media screen and (min-width: 250px) and (max-width: 790px){
  header h1 {
   
    font-size: 36px;
  }

  .wallet{
    position: fixed;
    /* width: 600px; */
    
    height: 326px;
    /* left: 420px; */
    top: 127px;
    left: 10%;
    background: #FFFFFF;
    border-radius: 16px;

  }

  /* .nav-button{
    max-width: 140px;
    padding: 0;
    height: 55px;
  } */
}
